html,body{
	height:100px;
}

ul#flex-container{
	background: 000;
	list-style-type:none;
	margin: 0;
	padding: 0;
	display: flex;
}
ul li{
	flex-grow: 1;
	height:150px;
	padding-top:45px;
	color:#fff;
	font-weight:bold;
	font-size:2.2ex;
	text-align:center;
}

ul li:first-child{background:#c2d775; order:2;}
ul li:nth-child(2){background:#007278;}
ul li:nth-child(3){background:#c76b60; flex-grow:2;}
ul li:nth-child(4){background:#a90077;}
ul li:nth-child(5){background:#00a378;}
ul li:last-child{background: #00ea72;